{% extends 'base.html' %}
{% block title %}Log Overview - Human Activity Recognition{% endblock %}
{% block content %}
<h1>Latest Logs</h1>
<table class="table">
    <thead>
        <tr>
            <th>Device</th>
            <th>Type</th>
            <th>Activity</th>
            <th>Sensor Placement</th>
            <th>Number of Sensor</th>
            <th>Length</th>
            <th>Upload Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for l in logs %}
        <tr>
            <td><a href="#" title="#{{ l.subject.device }}">{{ "#%.7s" | format(l.subject.device) }}</a></td>
            <td><a href="#">{{ l.log_type }}</a></td>
            <td><a href="#">{{ l.activity }}</a></td>
            <td><a href="#">{{ l.sensor_placement }}</a></td>
            <td>{{ l.number_of_sensor }}</td>
            <td>{{ l.number_of_entry }}</td>
            <td>{{ l.timestamp.strftime("%d-%m-%Y %H:%M:%S") }}</td>
            <td><a href="/log/delete/{{ l.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
