<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Status | Human Activity Recognition</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <style>
            body {
                font-family: 'Lato', sans-serif;
            }
        </style>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>HAR Status</h1>
                    <h3>Subjects</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Gender</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in subjects %}
                            <tr>
                                <td><a href="#" title="#{{ s.device }}">{{ "#%.7s" | format(s.device) }}</a></td>
                                <td>{{ s.user_gender }}</td>
                                <td>{{ s.user_age }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Latest Logs</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Type</th>
                                <th>Activity</th>
                                <th>Sensor Placement</th>
                                <th>Number of Sensor</th>
                                <th>Length</th>
                                <th>Upload Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in logs %}
                            <tr>
                                <td><a href="#" title="#{{ l.subject.device }}">{{ "#%.7s" | format(l.subject.device) }}</a></td>
                                <td><a href="#">{{ l.log_type }}</a></td>
                                <td><a href="#">{{ l.activity }}</a></td>
                                <td><a href="#">{{ l.sensor_placement }}</a></td>
                                <td>{{ l.number_of_sensor }}</td>
                                <td>{{ l.number_of_entry }}</td>
                                <td>{{ l.timestamp.strftime("%d-%m-%Y %H:%M:%S") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
