{% extends 'base.html' %}
{% block title %}Subject Overview - Human Activity Recognition{% endblock %}
{% block content %}
<h1>Subjects</h1>
<table class="table">
    <thead>
        <tr>
            <th>Device</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for s in subjects %}
        <tr>
            <td><a href="#" title="#{{ s.device }}">{{ "#%.7s" | format(s.device) }}</a></td>
            <td>{{ s.user_gender }}</td>
            <td>{{ s.user_age }}</td>
            <td><a href="/subject/delete/{{ s.device }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
